#welcome-visitors {
  /* option to make first page wider */
  /* width: 1000px; */
}

#welcome-visitors .journal {
  /* may want to hide journal only on first page */
  /* visibility: hidden; */
}

body {
  /* makes the background translucent */
  background: rgba(255,255,255,0.94);
}

.main {
  /* resets the bottom from it's wiki setting of 60 */
  bottom: 18px;
}

.page {
  /* resets the bottom from it's wiki setting of 60 */
  background-color: transparent;
 }


.paper {
  /* resets wiki value of 100% */
  min-height: 0;
}

div.footer {
  /* sort of deletes the footer rather than just hides it */
  display:none;
  /* visibility: hidden; */
}

footer {
  /* otherwise we have an empty scrolling area */
  display:none;
  /* visibility: hidden; */
}

.footer-item {
  /*
  visibility: hidden;
  margin-left: -146px;
  */
}

.journal {
  display:none;
  /* visibility: hidden; */
}
