.footer::after {
  content: " . BTC: 1NQ1e1ztBaY94PN1HxnMf2QtajYWr32s8P";
  font-size: 20%;
}

/*
p::before {
  content:  "1NQ1e1ztBaY94PN1HxnMf2QtajYWr32s8P";
}

.head::after {
  content: "<meta name='microtip' content='1NQ1e1ztBaY94PN1HxnMf2QtajYWr32s8P' data-currency='btc'>";
}
*/
